{% extends "base.html"%}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css"%}">
{% endblock css %}

{% block modal_cart %}
{% include 'includes/cart_button.html' %}
{% endblock %}

{% block content%}
    <div class="mt-5 pt-5 bg-white custom shadow rounded">
    <h2 class="mt-2"><center><strong>{{content}}</strong></center></h2>
    <p class="m-2"> {{ text_on_page }}</p>
        <button><h3><a class="btn btn-dark" href="https://youtube.com/@anastysha_?si=ra3KBpCCIJcSIBmX">мой YouTube канал</a></h3></button>
        <button><h3><a class="btn btn-dark" href="https://t.me/Anastasiya_forPolLis">Для спец. заказов</a><h3/></button>

</div>
{% endblock content%}

{% block footer %}
<footer class="py-4 bg-info">
        <div class="container">
            <p class="m-0 text-center text-dark"><b><i>магазин Вязаных изделий for PolLis</i></b></p>
        </div>
    </footer>
{% endblock footer%}





